//fonts are loaded asynchronously in functions.php
$font__main: UniversLTPro-55Roman, Arial, "Helvetica Neue", Helvetica, sans-serif;
$font__light: UniversLTPro-45Light, Arial, "Helvetica Neue", Helvetica, sans-serif;
$font__bold: UniversLTPro-65Bold, "Arial Black", "Arial Bold", Gadget, sans-serif;
$font__condensed: UniversLTPro-BoldCond, "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;